.footer {
  padding: 16px 24px;
  display: flex;
  gap: 4px;
  margin-block: auto;
  margin-inline: auto;
  color: var(--neutral-600);
  min-height: 56px;
  height: fit-content;
  padding-inline: 24px;
  padding-block: 16px;
  width: 100%;
}

.text {
  margin-inline: auto;
  color: var(--neutral-600);
}

.link {
  margin-left: 3px;
  text-decoration: underline;
}

.link:hover {
  color: var(--neutral-800);
}

.link:focus-visible {
  color: var(--neutral-800);
  outline: 2px solid var(--neutral-800);
  background-color: var(--neutral-0);
  outline-offset: 3px;
  border-radius: 4px;
}
