:root {
  --neutral-0: rgba(255, 255, 255, 100%);
  --neutral-100: rgba(251, 251, 251, 100%);
  --neutral-200: rgba(243, 243, 243, 100%);
  --neutral-300: rgba(236, 236, 236, 100%);
  --neutral-400: rgba(191, 191, 191, 100%);
  --neutral-500: rgba(140, 140, 140, 100%);
  --neutral-600: rgba(108, 108, 108, 100%);
  --neutral-700: rgba(57, 57, 57, 100%);
  --neutral-800: rgba(28, 28, 28, 100%);
  --neutral-900: rgba(20, 20, 20, 100%);

  --primary-0: rgba(254, 244, 244, 100%);
  --primary-100: rgba(255, 206, 206, 100%);
  --primary-200: rgba(252, 169, 169, 100%);
  --primary-300: rgba(242, 89, 89, 100%);
  --primary-400: rgba(213, 16, 16, 100%);
  --primary-500: rgba(166, 12, 12, 100%);
  --primary-600: rgba(118, 9, 9, 100%);
  --primary-400-500: linear-gradient(#d51010, #a60c0c);

  --secondary-0: #f5f0ff;
  --secondary-100: #eadfff;
  --secondary-200: #d9c5ff;
  --secondary-300: #b792ff;
  --secondary-400: #742cff;
  --secondary-500: #581bcc;

  --base-primary-100: #ffcece;
  --base-primary-300: #f25959;
  --base-primary-400: #d51010;
  --base-primary-500: #a60c0c;
  --base-primary-400-500: linear-gradient(#d51010, #a60c0c);

  --base-black: #000;
  --base-white: #fff;
  --base-600: var(--neutral-600);
  --base-900: #141414;
  --base-800: #262626;

  --box-shadow-default: 2px 2px 4px 0 #00000033;
  --box-shadow-hover: 2px 8px 12px 0 #00000040;
  --box-shadow-sm-default: 2px 2px 4px 0 #0000001a;
  --box-shadow-sm-hover: 2px 8px 12px 0 #00000033;
}

[data-theme="dark"] {
  --neutral-0: #141414;
  --neutral-100: #1c1c1c;
  --neutral-200: #262626;
  --neutral-300: #333;
  --neutral-400: var(--neutral-600);
  --neutral-500: #8c8c8c;
  --neutral-600: #bfbfbf;
  --neutral-700: #ececec;
  --neutral-800: #fbfbfb;
  --neutral-900: #fff;

  --primary-0: #300b0b;
  --primary-100: #461313;
  --primary-200: #760909;
  --primary-300: #a60c0c;
  --primary-400: #d51010;
  --primary-500: #f25959;
  --primary-600: rgba(118, 9, 9, 100%);
  --primary-400-500: linear-gradient(#d51010, #a60c0c);

  --secondary-0: #261c3c;
  --secondary-100: #3d2a66;
  --secondary-200: #5d38ae;
  --secondary-300: #7d45ea;
  --secondary-400: #9d6aff;
  --secondary-500: #b792ff;

  --base-black: #000;
  --base-white: #fff;
  --base-600: var(--neutral-600);
  --base-900: #141414;
  --base-800: #262626;

  --base-primary-100: #ffcece;
  --base-primary-300: #f25959;
  --base-primary-400: #d51010;
  --base-primary-500: #a60c0c;
  --base-primary-400-500: linear-gradient(#d51010, #a60c0c);

  --box-shadow-default: 2px 2px 4px 0 #00000080;
  --box-shadow-hover: 2px 8px 12px 0 #000000cc;
  --box-shadow-sm-default: 2px 2px 4px 0 #0000004d;
  --box-shadow-sm-hover: 2px 8px 12px 0 #00000099;
}
